* {
    color: var(--txt);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    box-sizing: border-box;
}

*::selection {
    background-color: #555;
}

html {
    overflow: hidden;
}

body {
    /* variables here becaus modified by JS*/
    --bg-d: #080808aa;
    --bg: #222;
    --bg-l: #333a;
    --bg-ll: #444a;

    --txt: #ccc;
    --txt-d: #888;

    --prim: red;

    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    background-size: cover;
}

button, .btn, select, input {
    background-color: var(--bg-ll);
    border: none;
    border-radius: 1rem;
    padding: 5px 10px;
    margin: 5px;
    transition: 100ms;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

option {
    background-color: var(--bg-d);
}

button > *, .btn > * {
    margin: 0 5px;
    pointer-events: none;
}

button:hover, .btn:hover {
    transform: scale(110%);
}

button:disabled, .btn:disabled {
    transform: scale(90%) !important;
}

button:disabled > *, .btn:disabled > *, select > * {
    color: var(--txt-d);
}

button.circle, .btn.circle {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

button.circle > *, .btn.circle > * {
    margin: 0;
}

select {
    padding: 5px 20px;
}

input {
    width: 10rem;
    box-shadow: var(--prim) 0 0 0 0;
}

*:focus-visible {
    outline: none;
    box-shadow: var(--prim) 0 0 0 2px;
}

input[type="color"] {
	-webkit-appearance: none;
    overflow: clip;
    padding: 0;
    color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch, input[type="color"]::-moz-color-swatch {
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button > .tooltip, .btn > .tooltip, select > .tooltip, input > .tooltip {
    position: absolute;
    
    background-color: var(--bg-d);
    padding: 5px 8px;
    border-radius: 5px;
    white-space: nowrap;

    bottom: calc(100% + 10px);
    left: 0;
    height: 2rem;

    opacity: 0;
    pointer-events: none;
    transition: 200ms;
}

button:hover > .tooltip, .btn:hover > .tooltip, select:hover > .tooltip, input:hover > .tooltip 
button:focus-visible > .tooltip, .btn:focus-visible > .tooltip, select:focus-visible > .tooltip, input:focus-visible > .tooltip {
    opacity: 1;
}

.inner-panel, #params, .prop {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#panel-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25rem;
    overflow-y: auto;
    pointer-events: none;

    max-height: calc(100vh - 40px);
    border-radius: 10px;

    opacity: 0;
    transition: 2s;
}

#panel-wrapper.animate {
    animation: panel-hover 4s normal;
}

#panel-wrapper:hover {
    opacity: 1 !important;
    transition: 200ms
}

#hide-panel_btn {
    display: none;
}

.panel {
    position: relative;
    background-color: var(--bg);
    border-radius: 10px;
    overflow: hidden;
    height: 0px;
    pointer-events: initial;

    transition: 200ms;
}

.inner-panel{
    position: absolute;

    flex-shrink: 0;
    width: 100%;
    padding: 10px 10px 0px 10px;
    transition: 200ms;
}

.panel.message {
    height: calc(3.9rem + 20px);
    line-height: 1.3rem;
}

.panel.message.hidden {
    height: 0;
}

.panel.message > * > .row {
    height: calc(3.9rem);
}

#panel-wrapper > * {
    margin-bottom: 10px;
}

.inner-panel > *, .prop > *, #params > *{
    margin-bottom: 10px !important;
}

.hidden {
    opacity: 0;
    transform: translateY(-100px);
    pointer-events: none !important;
}

.hidden > * {
    pointer-events: none !important;
}

#show-panel {
    transition: 200ms;
    background-color: var(--bg);
    border-radius: 0 0 10px 10px;

    position: absolute;
    top: 0;
    right: 20px;

    padding: 5px;
}

#params {
    margin-bottom: 0 !important;
}

.prop {
    background-color: var(--bg-l);
    border-radius: 10px;

    padding: 10px 10px 0px 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.prop-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.prop-row > input {
    width: 10px;
    flex-grow: 10;
}

.row > *, .prop-row > * {
    margin: 0 10px 0 0; 
}

.sep {
    background-color: var(--bg-ll);
    height: 2px;
    margin: 0 -10px 0 -10px;
}

#fps {
    position: absolute;
    top: 20px;
    left: 20px;

    background-color: var(--bg);
    border-radius: 10px;
    padding: 5px 10px;
    pointer-events: none;
    transition: 200ms;
}

.small-txt {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: var(--txt-d);
}

.title {
    font-weight: bold;
    font-size: 1.1rem;
}

.system {
    position: relative;
    margin-left: 15px;
}

.system::before {
    content: "{";

    display: block;
    position: absolute;
    top: 0.43rem;
    left: -15px;
    height: 2rem;

    font-size: 2rem;
    font-weight: 100;
    line-height: 1.5rem;
    scale: 1 1.8;
}

.system > * {
    margin: 0;
}  

.highlight {
    display: inline;
    background-color: var(--bg-l);
    border-radius: 5px;
    padding: 0 5px;
}

#loading-div {
    position: absolute; 
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-div > * {
    text-align: center;
}

@media screen and (max-width: 550px) {
    #panel-wrapper {
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
    }

    .panel {
        border-radius: 0;
        margin-bottom: 0 !important;
    }

    .panel:not(#main-panel) {
        border-top: 2px solid var(--bg-ll);
    }

    #fps {
        top: unset;
        bottom: 5px;
        left: 5px;
    }

}

@media screen and (hover: none) {
    #panel-wrapper {
        opacity: 0.8 !important;
        transition: 200ms;
        animation: none !important;
    }

    #panel-wrapper:hover {
        opacity: 0.8 !important;
    }
    
    #panel-wrapper.hidden {
        opacity: 0 !important;
    }

    #hide-panel_btn {
        display: inline-flex;
    }
}

@keyframes panel-hover {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

